<div class="row">
    <h1>HARD Y SOFT SKILLS</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="2"
            [showUnits]="false"
            [imageSrc]="'../assets/csharp.png'"
            [imageWidth]="100"
            [imageHeight]="100"
            [showImage]="true"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="2"
            [showUnits]="false"
            [imageSrc]="'../assets/js.png'"
            [imageWidth]="100"
            [imageHeight]="100"
            [showImage]="true"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="2"
            [showUnits]="false"
            [imageSrc]="'../assets/python.png'"
            [imageWidth]="100"
            [imageHeight]="100"
            [showImage]="true"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="2"
            [showUnits]="false"
            [imageSrc]="'../assets/github2.png'"
            [imageWidth]="100"
            [imageHeight]="100"
            [showImage]="true"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="2"
            [showUnits]="false"
            [imageSrc]="'../assets/equipo.png'"
            [imageWidth]="100"
            [imageHeight]="100"
            [showImage]="true"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="2"
            [showUnits]="false"
            [imageSrc]="'../assets/creative.png'"
            [imageWidth]="100"
            [imageHeight]="100"
            [showImage]="true"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <h2>Idiomas</h2>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="100"
                [radius]="100"
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [showUnits]="false"
                [imageSrc]="'../assets/esp.png'"
                [imageWidth]="100"
                [imageHeight]="100"
                [showImage]="true"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="50"
                [radius]="100"
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [showUnits]="false"
                [imageSrc]="'../assets/ingles.png'"
                [imageWidth]="100"
                [imageHeight]="100"
                [showImage]="true"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>
</div>
