<div class="row">
    <h1>EDUCACIÓN</h1>
    
    <div class="col-lg-1"></div>

    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Ingeniería en Informatica</h2> - <h3> (2021-)</h3>
            </li>
            <p>
                Estudiante de Ing. Informatica en la UNAJ(Universidad Nacional Arturo Jauretche)
            </p>
        </ul>
        <ul>
            <li>
                <h2>Inglés</h2> - <h3>(2022-)</h3>
            </li>
            <p>
                Instituto Cultural Inglesa Midlands
            </p>
        </ul>
   

    </div>

</div>